openapi: 3.0.0
info:
  version: 3.0.0
  title: Didit Verification Billing Sessions API
  description: Identity verification API. Authenticate with x-api-key header.
servers:
- url: https://verification.didit.me
tags:
- name: Sessions
paths:
  /v3/session/:
    post:
      summary: Create a verification session
      description: 'Create a User Verification (KYC) or Business Verification (KYB) session and receive a hosted verification `url` plus a `session_token` to redirect or embed for your end user. The `workflow_id` selects which verification steps run and whether the session is KYC or KYB.


        Call this from your backend (never the browser — the API key is a secret) whenever a user or business needs to be verified: at signup, before a sensitive action, or when re-verification is required. Prerequisites: a published workflow (created in the Console [Workflows](https://docs.didit.me/console/workflows) page) and an application API key with available credits. Sandbox applications bypass the credit check.


        **Idempotency:** when `vendor_data` is provided and an unfinished session (`Not Started`, `In Progress`, `Resubmitted`, or `Awaiting User`) with the same `vendor_data` already exists on the workflow''s **current latest published version** (and that session already has a hosted verification URL), the existing session is returned (still `201`) instead of creating a duplicate — with its `callback` and `metadata` updated to the newly provided values. An unfinished session created on an older version of the workflow (one that has since been republished) is **not** reused; a new session pinned to the latest published version is created instead. Sessions in `Approved`, `Declined`, `In Review`, `Expired`, `Abandoned`, or `Kyc Expired` are never reused.


        **Side effects:** the hosted verification URL is generated and stored; if `contact_details.send_notification_emails` is `true` and an email is provided, a verification invite email is sent. The session expires after the workflow''s configured session expiration time. For KYB workflows, `contact_details.phone` and `expected_details` are ignored.'
      operationId: post_v3_session_create
      tags:
      - Sessions
      responses:
        '201':
          description: Session created (or returned, if an unfinished session with the same `vendor_data` already exists on the workflow's latest published version). The response is the serialized session, including the hosted verification `url` to redirect the user to.
          content:
            application/json:
              schema:
                type: object
                required:
                - session_id
                - session_number
                - session_token
                - url
                - vendor_data
                - metadata
                - status
                - workflow_id
                - workflow_version
                - callback
                properties:
                  session_id:
                    type: string
                    format: uuid
                    description: Unique identifier of the verification session. Use this id when calling `GET /v3/session/{sessionId}/decision/`.
                    example: 11111111-2222-3333-4444-555555555555
                  session_number:
                    type: integer
                    description: Sequential, human-friendly number assigned to the session inside your application. Useful for support and dashboards.
                    example: 43762
                  session_token:
                    type: string
                    description: 12-character URL-safe token that authorizes the end user to access the hosted verification flow at `url`. Valid until the session expires. Treat it as a secret — anyone holding it can open the verification flow for this session.
                    example: 3FaJ9wLqX2Mz
                  url:
                    type: string
                    format: uri
                    description: Hosted verification URL to redirect the end user to. The URL embeds the `session_token` and, if configured, uses your white-label domain. When the request includes `language`, the URL contains a language path segment — `https://verify.didit.me/{language}/session/{session_token}` (e.g. `/es/session/...`); without `language`, the segment is omitted.
                    example: https://verify.didit.me/session/3FaJ9wLqX2Mz
                  vendor_data:
                    type: string
                    nullable: true
                    description: Identifier you passed in the request to link the session to a user or business in your own system. Echoed back verbatim. Null when not provided.
                    example: user-123
                  metadata:
                    description: Arbitrary JSON payload you stored with the session at creation time. Echoed back verbatim — whatever JSON value you sent (object, string, number, array) is returned as-is, though a JSON object is recommended. Not shown to the end user. Always present in responses; `null` when not provided at creation time.
                    example:
                      user_type: premium
                      account_id: ABC123
                  status:
                    type: string
                    enum:
                    - Not Started
                    - In Progress
                    - Approved
                    - Declined
                    - In Review
                    - Expired
                    - Abandoned
                    - Kyc Expired
                    - Resubmitted
                    - Awaiting User
                    description: Current status of the session. Newly created sessions return `Not Started`. If a non-finished session already existed for the same `vendor_data` on the workflow's latest published version, the returned status reflects that existing session.
                    example: Not Started
                  callback:
                    type: string
                    format: uri
                    nullable: true
                    description: Final redirect URL the user is sent to after completing the flow. Didit appends `?verificationSessionId={session_id}&status={status}` to this URL. Falls back to the workflow's configured callback URL when not provided in the request; `null` when neither is set.
                    example: https://example.com/verification/callback
                  workflow_id:
                    type: string
                    format: uuid
                    description: Stable identifier of the workflow this session runs on. Always the workflow's stable group identifier — even if you referenced a specific workflow version UUID in the request (backward-compatible lookup), the response carries the stable `workflow_id`. Use it to correlate the session with the workflow you configured in the Console.
                    example: 11111111-2222-3333-4444-555555555555
                  workflow_version:
                    type: integer
                    description: Version number of the published workflow version the session was pinned to at creation. Didit resolves `workflow_id` to the workflow's latest published version when the session is created, and the session keeps running that version even if the workflow is republished later.
                    example: 3
              examples:
                KYC session:
                  summary: KYC session created
                  value:
                    session_id: 11111111-2222-3333-4444-555555555555
                    session_number: 43762
                    session_token: 3FaJ9wLqX2Mz
                    url: https://verify.didit.me/en/session/3FaJ9wLqX2Mz
                    vendor_data: user-123
                    metadata:
                      user_type: premium
                      account_id: ABC123
                    status: Not Started
                    workflow_id: 11111111-2222-3333-4444-555555555555
                    workflow_version: 3
                    callback: https://example.com/verification/callback
                KYB session:
                  summary: KYB session created
                  value:
                    session_id: 22222222-3333-4444-5555-666666666666
                    session_number: 43763
                    session_token: Yk7pQ2vN8aBc
                    url: https://verify.didit.me/en/session/Yk7pQ2vN8aBc
                    vendor_data: company-acme-001
                    metadata:
                      tier: enterprise
                    status: Not Started
                    workflow_id: 33333333-4444-5555-6666-777777777777
                    workflow_version: 1
                    callback: https://example.com/kyb/callback
        '400':
          description: 'Bad request — the payload failed validation (missing or unknown `workflow_id`, invalid `language`, blocklisted `vendor_data`, malformed `portrait_image`, `address` without `country`/`poa_country`, invalid `sandbox_scenario`, etc.) or your organization does not have enough credits to start the session.


            The body is an object keyed by the offending field name (or `detail` for non-field errors). Values are an **array of strings** for input-validation failures (e.g. missing required field, invalid language, oversized portrait image) and a **plain string** for failures detected while creating the session (unknown `workflow_id`, blocklisted `vendor_data`, no reference face available for a Face Match workflow). Handle both shapes.'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  detail:
                    type: string
                    description: Human-readable error message for non-field errors (e.g. insufficient credits). Field-level failures use the field name as the key instead, with a string or array-of-strings value.
                    example: You don't have enough credits to perform this request. Please top up at https://business.didit.me
              examples:
                Missing workflow_id:
                  summary: Required field omitted (array-of-strings shape)
                  value:
                    workflow_id:
                    - This field is required.
                Invalid workflow_id:
                  summary: Unknown workflow_id (plain-string shape)
                  value:
                    workflow_id: Invalid workflow_id.
                Insufficient credits:
                  summary: Organization is out of credits
                  value:
                    detail: You don't have enough credits to perform this request. Please top up at https://business.didit.me
                Blocklisted vendor_data:
                  summary: vendor_data is blocklisted
                  value:
                    vendor_data: This user or business has been blocked and cannot create new verification sessions.
                Portrait image too large:
                  summary: portrait_image fails size validation
                  value:
                    portrait_image:
                    - Image size exceeds 2MB.
                No stored face for vendor_data:
                  summary: Face Match workflow without portrait_image and no stored face for the vendor_data user
                  value:
                    portrait_image: No stored face image was found for this user. Send a portrait_image, or complete an approved verification with face liveness or an ID document for this vendor_data first.
                Portrait image required without vendor_data:
                  summary: Face Match workflow without portrait_image and without vendor_data
                  value:
                    portrait_image: A portrait image is required to perform face match for this workflow. Send a portrait_image, or provide the vendor_data of a user with a previously stored face image to reuse it.
        '403':
          description: 'Authentication or authorization failed. The endpoint returns `403` whenever the `x-api-key` header is missing, malformed, the API key has expired, or the API key is valid but the client does not have permission to create sessions in this application (for example the API key belongs to a different organization). Re-fetch the application API key via the [Auth API](/auth-api/get-credentials) and retry.


            **Note:** All four failure modes return the same response body — `{"detail": "You do not have permission to perform this action."}` — and there is no machine-readable discriminator (no error code field, no `WWW-Authenticate` challenge) that lets you tell them apart. If you need to differentiate (for example to surface a more specific error to the end user), check the `x-api-key` header is present and belongs to the intended application before calling this endpoint.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: You do not have permission to perform this action.
              examples:
                Missing or invalid API key:
                  summary: No `x-api-key` header or invalid API key
                  value:
                    detail: You do not have permission to perform this action.
                No permission:
                  summary: Client cannot create sessions
                  value:
                    detail: You do not have permission to perform this action.
        '429':
          description: 'Rate limit exceeded — more than 600 session-create requests in a 60-second window from the same API key / IP. Inspect `Retry-After` and back off before retrying.


            **Note:** The source code also defines a `FREE_SESSION_RATE_LIMIT` of 10 calls/minute alongside `PAID_SESSION_RATE_LIMIT=600` (`sessions/serializers/session.py`), but that free-tier ceiling is **not applied to this V3 endpoint** — the rate-limit middleware enforces the 600/min `SESSION_CREATE_RATE_LIMIT` regardless of plan. 600/min is the only limit you can hit here.'
          headers:
            Retry-After:
              description: Seconds the caller must wait before retrying the request.
              schema:
                type: integer
                minimum: 1
                example: 42
            X-RateLimit-Limit:
              description: Maximum number of requests allowed in the current 60-second window for the limit that was breached (600 for session-create). Absent on the sandbox-quota variant.
              schema:
                type: integer
                example: 600
            X-RateLimit-Remaining:
              description: Number of requests still allowed in the current window for the breached limit. Absent on the sandbox-quota variant.
              schema:
                type: integer
                minimum: 0
                example: 0
            X-RateLimit-Reset:
              description: UTC epoch seconds when the current rate-limit window resets. Absent on the sandbox-quota variant.
              schema:
                type: integer
                minimum: 0
                example: 1747497600
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Human-readable explanation of the rate-limit breach. Use this message to distinguish which of the three limits was hit.
                    example: Session creation rate limit exceeded. You can make up to 600 requests per minute.
              examples:
                Session-create limit:
                  summary: More than 600 session-create requests per minute
                  value:
                    detail: Session creation rate limit exceeded. You can make up to 600 requests per minute.
                Sandbox session quota:
                  summary: Sandbox application exceeded 500 sessions in 24 hours
                  value:
                    detail: Sandbox session quota exceeded (500 sessions per 24h). Wait for the window to reset. Expected available in 3600 seconds.
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl -X POST 'https://verification.didit.me/v3/session/' \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"workflow_id\": \"11111111-2222-3333-4444-555555555555\",\n    \"vendor_data\": \"user-123\",\n    \"callback\": \"https://example.com/verification/callback\",\n    \"callback_method\": \"both\",\n    \"metadata\": {\"user_type\": \"premium\", \"account_id\": \"ABC123\"},\n    \"language\": \"en\",\n    \"contact_details\": {\n      \"email\": \"john.doe@example.com\",\n      \"send_notification_emails\": true,\n      \"email_lang\": \"en\",\n      \"phone\": \"+14155552671\"\n    },\n    \"expected_details\": {\n      \"first_name\": \"John\",\n      \"last_name\": \"Doe\",\n      \"date_of_birth\": \"1990-05-15\",\n      \"id_country\": \"USA\",\n      \"expected_document_types\": [\"P\", \"ID\"]\n    }\n  }'"
      - lang: python
        label: Python
        source: "import requests\n\nurl = \"https://verification.didit.me/v3/session/\"\nheaders = {\n    'x-api-key': 'YOUR_API_KEY',\n    \"Content-Type\": \"application/json\",\n}\npayload = {\n    \"workflow_id\": \"11111111-2222-3333-4444-555555555555\",\n    \"vendor_data\": \"user-123\",\n    \"callback\": \"https://example.com/verification/callback\",\n    \"callback_method\": \"both\",\n    \"metadata\": {\"user_type\": \"premium\", \"account_id\": \"ABC123\"},\n    \"language\": \"en\",\n    \"contact_details\": {\n        \"email\": \"john.doe@example.com\",\n        \"send_notification_emails\": True,\n        \"email_lang\": \"en\",\n        \"phone\": \"+14155552671\",\n    },\n    \"expected_details\": {\n        \"first_name\": \"John\",\n        \"last_name\": \"Doe\",\n        \"date_of_birth\": \"1990-05-15\",\n        \"id_country\": \"USA\",\n        \"expected_document_types\": [\"P\", \"ID\"],\n    },\n}\n\nresponse = requests.post(url, json=payload, headers=headers, timeout=15)\nresponse.raise_for_status()\nsession = response.json()\nprint(session[\"session_id\"], session[\"url\"])"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch('https://verification.didit.me/v3/session/', {\n  method: 'POST',\n  headers: {\n    'x-api-key': 'YOUR_API_KEY',\n    'Content-Type': 'application/json',\n  },\n  body: JSON.stringify({\n    workflow_id: '11111111-2222-3333-4444-555555555555',\n    vendor_data: 'user-123',\n    callback: 'https://example.com/verification/callback',\n    callback_method: 'both',\n    metadata: { user_type: 'premium', account_id: 'ABC123' },\n    language: 'en',\n    contact_details: {\n      email: 'john.doe@example.com',\n      send_notification_emails: true,\n      email_lang: 'en',\n      phone: '+14155552671',\n    },\n    expected_details: {\n      first_name: 'John',\n      last_name: 'Doe',\n      date_of_birth: '1990-05-15',\n      id_country: 'USA',\n      expected_document_types: ['P', 'ID'],\n    },\n  }),\n});\n\nif (!response.ok) {\n  throw new Error(`Session create failed: ${response.status}`);\n}\nconst session = await response.json();\nconsole.log(session.session_id, session.url);"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - workflow_id
              properties:
                workflow_id:
                  type: string
                  format: uuid
                  description: Stable identifier of the workflow that defines which verification steps the session will run. Workflows are created and managed in the [Workflows](/console/workflows) page of the Console. The `workflow_id` also implicitly selects whether the session is KYC or KYB.
                  example: 11111111-2222-3333-4444-555555555555
                  x-readme-id: '0.0'
                vendor_data:
                  type: string
                  description: 'A unique identifier for the user being verified, such as a UUID, email, or internal user ID. This field is used for: (1) **User grouping** — sessions with the same vendor_data are linked to the same user profile in the Users tab. (2) **Cross-session duplicate detection** — when checking for duplicated faces, documents, phone numbers, emails, IP addresses, or device fingerprints, sessions with the same vendor_data are treated as the same user and excluded from matches. Without vendor_data, every session is treated as a unique user and all potential duplicates are surfaced. We strongly recommend always providing a vendor_data to reduce noise in duplicate detection.'
                  example: user-123
                  x-readme-id: '0.1'
                callback:
                  type: string
                  description: URL to redirect the user to after verification completes. Didit automatically appends `verificationSessionId` and `status` (Approved, Declined, In Review) as query parameters. Custom URL schemes (e.g. `myapp://`) are supported for mobile callbacks. If omitted, the workflow's default `callback_url` is used.
                  example: https://example.com/verification/callback
                  x-readme-id: '0.2'
                callback_method:
                  type: string
                  description: Determines which device should handle the redirect to the provided callback URL. Use `initiator` to redirect only the device that started the flow, `completer` for the device that finishes it, or `both` to allow either device to trigger the callback. If you ever notice the callback not triggering reliably, we recommend setting this value to `both`.
                  enum:
                  - initiator
                  - completer
                  - both
                  default: initiator
                  example: both
                  x-readme-id: '0.3'
                metadata:
                  description: Arbitrary JSON stored with the session and echoed back in the response and webhooks. Any JSON value is accepted (object, string, number, array), but a JSON object of key/value pairs is recommended. Not shown to the end user. Use it to pass your own correlation ids, A/B variants, or business context.
                  example:
                    user_type: premium
                    account_id: ABC123
                  x-readme-id: '0.4'
                language:
                  type: string
                  description: Language code (ISO 639-1) for the verification process interface. Controls the language displayed to the end user during verification. If not provided, the browser's language will be automatically detected and used. Check all the supported languages [here](/integration/supported-languages).
                  enum:
                  - en
                  - ar
                  - bg
                  - bn
                  - bs
                  - ca
                  - cnr
                  - cs
                  - da
                  - de
                  - el
                  - es
                  - et
                  - fa
                  - fi
                  - fr
                  - he
                  - hi
                  - hr
                  - hu
                  - hy
                  - id
                  - it
                  - ja
                  - ka
                  - kk
                  - ko
                  - ky
                  - lt
                  - lv
                  - mk
                  - mn
                  - ms
                  - nl
                  - 'no'
                  - pl
                  - pt-BR
                  - pt
                  - ro
                  - ru
                  - sk
                  - sl
                  - so
                  - sq
                  - sr
                  - sv
                  - th
                  - tr
                  - uk
                  - uz
                  - vi
                  - zh-CN
                  - zh-TW
                  - zh
                  example: en
                  x-readme-id: '0.5'
                contact_details:
                  type: object
                  description: User contact information that can be used for notifications, prefilling verification forms, and phone verification. This includes email address, preferred language for communications, and phone number.
                  example:
                    email: john.doe@example.com
                    send_notification_emails: true
                    email_lang: en
                    phone: '+14155552671'
                  properties:
                    email:
                      type: string
                      format: email
                      description: Email address of the user (e.g., "john.doe@example.com") that will be used during the [Email Verification](/core-technology/email-verification/overview) step. If not provided, the user must provide it during the verification flow.
                      example: john.doe@example.com
                      x-readme-id: '1.0'
                    send_notification_emails:
                      type: boolean
                      default: false
                      description: If true and an email is provided, Didit sends the initial "Verify your identity" email asynchronously when the User Verification (KYC) or Business Verification (KYB) session is created. Didit also sends verification status notifications for sessions requiring manual review to the provided email address (e.g., from 'In Review' to 'Approved' or 'Declined'). This helps users return to your application once their verification is complete. If you have white-label activated for the session, the email sent will be white-labeled.
                      example: true
                      x-readme-id: '1.1'
                    email_lang:
                      type: string
                      description: Language code (ISO 639-1) for email notifications. Controls the language of all email communications (e.g., "en", "es", "fr"). There is no stored default — when omitted, the verification invite email simply falls back to English (`en`) at send time. The enum below is a snapshot; the live source of truth for accepted values is the [supported languages](/integration/supported-languages) doc — always consult it before relying on a specific code.
                      enum:
                      - en
                      - ar
                      - bg
                      - bn
                      - bs
                      - ca
                      - cnr
                      - cs
                      - da
                      - de
                      - el
                      - es
                      - et
                      - fa
                      - fi
                      - fr
                      - he
                      - hi
                      - hr
                      - hu
                      - hy
                      - id
                      - it
                      - ja
                      - ka
                      - kk
                      - ko
                      - ky
                      - lt
                      - lv
                      - mk
                      - mn
                      - ms
                      - nl
                      - 'no'
                      - pl
                      - pt-BR
                      - pt
                      - ro
                      - ru
                      - sk
                      - sl
                      - so
                      - sq
                      - sr
                      - sv
                      - th
                      - tr
                      - uk
                      - uz
                      - vi
                      - zh-CN
                      - zh-TW
                      - zh
                      example: en
                      x-readme-id: '1.2'
                    phone:
                      type: string
                      description: Phone number in E.164 format (e.g., "+14155552671") that will be used during the [Phone Verification](/core-technology/phone-verification/overview) step. If not provided, the user must provide it during the verification flow. Ignored for Business Verification (KYB) workflows. **Important:** This phone number is only enforced if it is a valid E.164 phone number. If the provided number is invalid or cannot be parsed, it will be ignored and the user will be able to input any valid phone number during the Phone Verification step.
                      example: '+14155552671'
                      x-readme-id: '1.3'
                  x-readme-id: '0.4'
                expected_details:
                  type: object
                  description: Expected user details used to cross-validate against the data extracted from the user's ID document, Proof of Address, and other verification steps. Mismatches are surfaced as warnings on the decision; some fields (e.g. `id_country`, `expected_document_types`) also alter the user-facing flow. For Business Verification (KYB) workflows only the business fields (`company_name`, `registry_country`, `registration_number`) are used — they pre-fill the company registry search for the user — and all person-level fields are ignored.
                  example:
                    first_name: John
                    last_name: Doe
                    date_of_birth: '1990-05-15'
                    nationality: USA
                    id_country: USA
                    expected_document_types:
                    - P
                    - ID
                  properties:
                    first_name:
                      type: string
                      description: User's first name. For example, `John`. The matching uses fuzzy comparison, and you can tune the strictness by configuring the name match score threshold in the Console for both ID Document and Proof of Address workflows.
                      example: John
                      x-readme-id: '1.0'
                    last_name:
                      type: string
                      description: User's last name. For example, `Doe`. The matching uses fuzzy comparison, and you can tune the strictness by configuring the name match score threshold in the Console for both ID Document and Proof of Address workflows.
                      example: Doe
                      x-readme-id: '1.1'
                    date_of_birth:
                      type: string
                      format: date
                      description: 'User''s date of birth with format: YYYY-MM-DD. For example, `1990-05-15`.'
                      example: '1990-05-15'
                      x-readme-id: '1.2'
                    gender:
                      type: string
                      nullable: true
                      enum:
                      - M
                      - F
                      default: null
                      description: User's gender. Must be either 'M', 'F', or null.
                      example: M
                      x-readme-id: '1.3'
                    nationality:
                      type: string
                      description: ISO 3166-1 alpha-3 country code representing the applicant's country of origin. For example, `USA`. See the [full list of supported country codes](https://docs.didit.me/core-technology/id-verification/supported-documents-id-verification#supported-documents-by-country).
                      example: USA
                      x-readme-id: '1.4'
                    country:
                      type: string
                      description: ISO 3166-1 alpha-3 country code used as a fallback for both ID Verification and Proof of Address country-mismatch checks. Required when `address` is provided and neither `id_country` nor `poa_country` is set.
                      example: USA
                      x-readme-id: 1.4.1
                    id_country:
                      type: string
                      description: ISO 3166-1 alpha-3 country code representing the expected country of the applicant's ID document, which may differ from nationality. For example, `GBR`. Takes priority over `country` for ID verification country mismatch checks. See the [full list of supported country codes](https://docs.didit.me/core-technology/id-verification/supported-documents-id-verification#supported-documents-by-country).
                      example: GBR
                      x-readme-id: '1.5'
                    poa_country:
                      type: string
                      description: ISO 3166-1 alpha-3 country code representing the expected country of the Proof of Address document. For example, `USA`. Takes priority over `country` for POA country mismatch checks. See the [full list of supported country codes](https://docs.didit.me/core-technology/id-verification/supported-documents-id-verification#supported-documents-by-country).
                      example: USA
                      x-readme-id: 1.5.1
                    address:
                      type: string
                      description: The address in a human readable format, including as much information as possible. For example, `123 Main St, San Francisco, CA 94105, USA`. When provided, you must also pass `country` or `poa_country`, otherwise the request fails with `400`.
                      example: 123 Main St, San Francisco, CA 94105, USA
                      x-readme-id: '1.6'
                    identification_number:
                      type: string
                      description: The user's document number, personal number, or tax number. For example, `123456789`.
                      example: '123456789'
                      x-readme-id: '1.7'
                    ip_address:
                      type: string
                      description: Expected IP address for the session, in IPv4 or IPv6 format. If the actual IP address differs from this value, a warning will be logged. For example, `192.168.1.100` or `2001:db8::1`.
                      example: 192.168.1.100
                      x-readme-id: '1.8'
                    expected_document_types:
                      type: array
                      description: 'Restricts the document types the user can present during the ID verification (OCR) step. When set, the document selection screen only shows the requested types and the returned `documents_allowed` is filtered accordingly. Values are case-insensitive and deduplicated; unknown values are rejected with `400`. Allowed codes: `P` (passport), `ID` (national ID), `DL` (driver''s license), `RP` (residence permit), `HIC` (health insurance card), `TC` (tax card), `SSC` (social security card).'
                      items:
                        type: string
                        enum:
                        - P
                        - ID
                        - DL
                        - RP
                        - HIC
                        - TC
                        - SSC
                      example:
                      - P
                      - ID
                      x-readme-id: '1.9'
                    company_name:
                      type: string
                      maxLength: 255
                      description: Expected legal name of the business being verified. For example, `Tesco PLC`. Pre-fills the company-name field of the registry search in Business Verification (KYB) workflows; when `registration_number` is also provided, the registry lookup combines both identifiers. Ignored for KYC workflows.
                      example: Tesco PLC
                      x-readme-id: '1.10'
                    registry_country:
                      type: string
                      maxLength: 10
                      description: 'ISO 3166-1 alpha-2 code of the country whose company registry the business is registered in. For example, `GB`. Where company registries operate at state or province level, append the ISO 3166-2 subdivision code as `XX-YY`: `US-CA` targets the California registry. Same format as `country_code` on the [KYB Registry Search API](https://docs.didit.me/standalone-apis/kyb-registry-search). Pre-selects the registry country in Business Verification (KYB) workflows; ignored for KYC workflows.'
                      example: US-CA
                      x-readme-id: '1.11'
                    registration_number:
                      type: string
                      maxLength: 100
                      description: Expected registration number of the business in the company registry. For example, `00445790`. Pre-fills the registration-number field of the registry search in Business Verification (KYB) workflows; when `company_name` is also provided, the registry lookup combines both identifiers. Ignored for KYC workflows.
                      example: 00445790
                      x-readme-id: '1.12'
                  x-readme-id: '0.5'
                portrait_image:
                  type: string
                  format: byte
                  description: 'Base64-encoded portrait image of the end user''s face (max 2MB; JPEG, PNG, WebP, or TIFF). Used as the reference image to match against the liveness capture when the workflow is a `Biometric Authentication` workflow with Face Match enabled, or any graph workflow where Face Match runs before ID Verification (OCR). Optional when the `vendor_data` user already has a stored face image: Didit reuses it automatically, resolved in priority order: approved liveness face, ePassport chip photo, ID document portrait, manually enrolled profile face (only faces from approved sessions or faces you enrolled yourself are reused). When provided, `portrait_image` always takes precedence over the stored face. If omitted and no stored face exists (or `vendor_data` is not sent), session creation fails with `400`. Ignored for other workflow types.'
                  example: iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=
                  x-readme-id: '0.6'
                sandbox_scenario:
                  type: string
                  description: Sandbox-only scenario slug. Only accepted when the API key belongs to a sandbox-mode application; rejected on live applications. When set, the create flow expands the scenario's bundled magic values onto the session's input fields (contact_details, expected_details) so the mocked providers reproduce the scenario's outcome through the real workflow pipeline. See the scenario catalog at GET /v1/sandbox/scenarios/ or [Sandbox & Test Data](/integration/sandbox-testing). You can also arm (or re-arm) a scenario after create via POST /v3/session/{sessionId}/sandbox/arm/, as long as the session is still `Not Started`.
                  example: decline_document_expired
              example:
                workflow_id: 11111111-2222-3333-4444-555555555555
                vendor_data: user-123
                callback: https://example.com/verification/callback
                callback_method: both
                metadata:
                  user_type: premium
                  account_id: ABC123
                language: en
                contact_details:
                  email: john.doe@example.com
                  send_notification_emails: true
                  email_lang: en
                  phone: '+14155552671'
                expected_details:
                  first_name: John
                  last_name: Doe
                  date_of_birth: '1990-05-15'
                  id_country: USA
                  expected_document_types:
                  - P
                  - ID
            examples:
              Create KYC session:
                summary: Full happy-path payload for a User Verification (KYC) session
                description: 'Realistic create call that uses every commonly-set field: workflow selection, vendor linkage, callback routing, metadata, locale, contact prefill, and expected user details. Copy-paste this directly into the cURL sample above.'
                value:
                  workflow_id: 11111111-2222-3333-4444-555555555555
                  vendor_data: user-123
                  callback: https://example.com/verification/callback
                  callback_method: both
                  metadata:
                    user_type: premium
                    account_id: ABC123
                  language: en
                  contact_details:
                    email: john.doe@example.com
                    send_notification_emails: true
                    email_lang: en
                    phone: '+14155552671'
                  expected_details:
                    first_name: John
                    last_name: Doe
                    date_of_birth: '1990-05-15'
                    nationality: USA
                    id_country: USA
                    expected_document_types:
                    - P
                    - ID
              Create KYB session:
                summary: Happy-path payload for a Business Verification (KYB) session
                description: Same shape as the KYC call — the `workflow_id` is what makes the session KYB. `vendor_data` typically references the company in your system and `contact_details.email` targets the legal representative who will complete the flow. `expected_details` accepts the business fields (`company_name`, `registry_country`, `registration_number`), which pre-fill the company registry search; person-level fields and `contact_details.phone` are ignored for KYB workflows.
                value:
                  workflow_id: 33333333-4444-5555-6666-777777777777
                  vendor_data: company-acme-001
                  callback: https://example.com/kyb/callback
                  callback_method: both
                  metadata:
                    tier: enterprise
                    company_id: ACME-001
                  expected_details:
                    company_name: Tesco PLC
                    registry_country: GB
                    registration_number: 00445790
                  language: en
                  contact_details:
                    email: legal-rep@acme.example.com
                    send_notification_emails: true
                    email_lang: en
  /v3/session/imports/:
    post:
      summary: Create a verification import job
      description: Create an asynchronous import job for historical User Verification sessions, Business Verification sessions, transaction monitoring records, or workflow custom status rules. Use this to migrate from providers such as Sumsub, MetaMap, Veriff, Onfido, Persona, Trulioo, Jumio, Incode, iDenfy, or any other provider after transforming the export into Didit's canonical CSV/NDJSON format. Imports are disabled by default and must be enabled per organization by Didit.
      operationId: post_v3_session_imports_create
      tags:
      - Sessions
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                import_type:
                  type: string
                  enum:
                  - user_verification
                  - business_verification
                  - status_rules
                  - transactions
                  default: user_verification
                  description: 'What to import: historical User Verification sessions, historical Business Verification sessions, workflow custom status rules, or historical transaction monitoring records.'
                workflow_id:
                  type: string
                  format: uuid
                  description: Workflow UUID that imported sessions or status rules should be attached to. Required for user_verification, business_verification, and status_rules. Omit for transactions.
                source_format:
                  type: string
                  enum:
                  - csv
                  - ndjson
                  description: Optional. Inferred from the uploaded file extension when omitted.
                file:
                  type: string
                  format: binary
                  description: Canonical CSV or NDJSON file. Use NDJSON for large imports. Maximum upload size 25 MB (use `source_file_url` for bigger files). Mutually exclusive with `source_file_url`.
                source_file_url:
                  type: string
                  format: uri
                  description: Alternative to file upload. Must be an HTTPS URL resolving to a public address (private/loopback networks are rejected). Mutually exclusive with `file`.
          application/json:
            schema:
              type: object
              required:
              - source_file_url
              properties:
                import_type:
                  type: string
                  enum:
                  - user_verification
                  - business_verification
                  - status_rules
                  - transactions
                  default: user_verification
                  description: 'What to import: historical User Verification sessions, historical Business Verification sessions, workflow custom status rules, or historical transaction monitoring records.'
                workflow_id:
                  type: string
                  format: uuid
                  description: Workflow UUID that imported sessions or status rules should be attached to. Required for user_verification, business_verification, and status_rules. Omit for transactions.
                source_format:
                  type: string
                  enum:
                  - csv
                  - ndjson
                  description: Optional. Inferred from the URL's file extension when omitted.
                source_file_url:
                  type: string
                  format: uri
                  description: Alternative to file upload. Must be an HTTPS URL resolving to a public address (private/loopback networks are rejected). Mutually exclusive with `file`.
            examples:
              URL-based import:
                value:
                  import_type: user_verification
                  workflow_id: 9f9b1234-aaaa-bbbb-cccc-1234567890ab
                  source_file_url: https://files.example.com/exports/sessions.ndjson
      responses:
        '201':
          description: Import job accepted. Poll the returned `uuid` until `status` is `COMPLETED` or `FAILED`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionImportJob'
              examples:
                Job accepted:
                  value:
                    uuid: 3f9c1a2b-4d5e-4f60-8a7b-9c0d1e2f3a4b
                    status: PENDING
                    import_type: user_verification
                    source_format: ndjson
                    source_filename: sessions.ndjson
                    total_rows: 0
                    processed_rows: 0
                    checkpoint_row: 0
                    created_count: 0
                    updated_count: 0
                    skipped_count: 0
                    failed_count: 0
                    total_media_bytes: 0
                    last_error: null
                    created_at: '2026-05-17T08:42:11Z'
                    updated_at: '2026-05-17T08:42:11Z'
                    started_at: null
                    completed_at: null
        '400':
          description: Invalid workflow, file type, file size, source URL, or selector combination.
          content:
            application/json:
              examples:
                Invalid workflow:
                  value:
                    workflow_id:
                    - Invalid workflow_id.
                Workflow required:
                  value:
                    workflow_id:
                    - This field is required for this import type.
                Wrong file type:
                  value:
                    file:
                    - Only CSV and NDJSON files are supported.
                File too large:
                  value:
                    file:
                    - Import file exceeds the maximum allowed size.
                No source:
                  value:
                    file:
                    - Upload a file or provide source_file_url.
                Both sources:
                  value:
                    file:
                    - Use either file or source_file_url, not both.
        '403':
          description: Imports not enabled, sandbox application, or missing/invalid API key (this endpoint returns `403`, never `401`, for authentication failures). Verification imports are disabled by default and must be enabled per organization by Didit.
          content:
            application/json:
              examples:
                Imports not enabled:
                  value:
                    detail: Verification imports are not enabled for this organization.
                Sandbox:
                  value:
                    detail: Verification imports are not enabled for sandbox applications.
                Bad API key:
                  value:
                    detail: You do not have permission to perform this action.
        '429':
          description: The application already has an active import job (PENDING/PROCESSING/PAUSED). Wait for it to finish before starting another.
          content:
            application/json:
              examples:
                Active job:
                  value:
                    detail: This application already has an active import job. Wait for it to finish before starting another.
      security:
      - ApiKeyAuth: []
  /v3/session/imports/template/:
    get:
      summary: Download verification import template
      description: Download the canonical CSV header for verification imports. The column set is determined by `import_type`. The first column of session templates is the idempotency key `external_id`.
      operationId: get_v3_session_imports_template
      tags:
      - Sessions
      parameters:
      - name: import_type
        in: query
        required: false
        schema:
          type: string
          enum:
          - user_verification
          - business_verification
          - status_rules
          - transactions
          default: user_verification
      responses:
        '200':
          description: CSV template file.
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '403':
          description: Missing, invalid, or revoked API key, or the key cannot download import templates. This endpoint returns `403` (never `401`) for authentication failures, including requests with no credentials at all.
          content:
            application/json:
              examples:
                Forbidden:
                  summary: Missing, invalid, or revoked API key
                  value:
                    detail: You do not have permission to perform this action.
      security:
      - ApiKeyAuth: []
  /v3/session/imports/{importId}/:
    get:
      summary: Retrieve a verification import job
      description: Retrieve import progress counters and terminal status for one job. Poll until `status` is `COMPLETED` or `FAILED`; `failed_count` > 0 means some rows were rejected — list them via the errors endpoint.
      operationId: get_v3_session_imports_retrieve
      tags:
      - Sessions
      parameters:
      - name: importId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Import job status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionImportJob'
        '403':
          description: Missing, invalid, or revoked API key, or the key cannot read import jobs for this application. This endpoint returns `403` (never `401`) for authentication failures, including requests with no credentials at all.
          content:
            application/json:
              examples:
                Forbidden:
                  summary: Missing, invalid, or revoked API key
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Import job not found for this application.
          content:
            application/json:
              examples:
                Not found:
                  value:
                    detail: Not found.
      security:
      - ApiKeyAuth: []
  /v3/session/imports/{importId}/errors/:
    get:
      summary: List verification import row errors
      description: List row-level errors for a verification import job, ordered by `row_number`. Use this endpoint to produce a corrected retry file containing only failed rows.
      operationId: get_v3_session_imports_errors
      tags:
      - Sessions
      parameters:
      - name: importId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 50
          minimum: 1
        description: Page size. Defaults to 50 when omitted.
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
        description: Zero-based offset of the first record to return.
      responses:
        '200':
          description: Paginated row errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Number of error rows — exact up to 100, capped at 100 beyond that. Rely on `next` being `null` to detect the last page.
                  next:
                    type: string
                    nullable: true
                    description: Absolute URL of the next page, or `null` on the last page.
                  previous:
                    type: string
                    nullable: true
                    description: Absolute URL of the previous page, or `null` on the first page.
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SessionImportError'
              examples:
                Row errors:
                  value:
                    count: 1
                    next: null
                    previous: null
                    results:
                    - uuid: 5a6b7c8d-9e0f-4a1b-8c2d-3e4f5a6b7c8d
                      row_number: 17
                      external_id: ext-000017
                      error: 'status: invalid value ''unknown_status'''
                      raw_row:
                        external_id: ext-000017
                        status: unknown_status
                        first_name: Jane
                      created_at: '2026-05-17T08:44:02Z'
        '403':
          description: Missing, invalid, or revoked API key, or the key cannot read import jobs for this application. This endpoint returns `403` (never `401`) for authentication failures, including requests with no credentials at all.
          content:
            application/json:
              examples:
                Forbidden:
                  summary: Missing, invalid, or revoked API key
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Import job not found for this application.
          content:
            application/json:
              examples:
                Not found:
                  value:
                    detail: Not found.
      security:
      - ApiKeyAuth: []
  /v3/session/{sessionId}/delete/:
    delete:
      summary: Soft-delete a verification session (KYC or KYB)
      description: 'Soft-delete a single verification session — User Verification (KYC) or Business Verification (KYB) — by its `session_id`. The id is resolved against KYC sessions first, then KYB sessions, so both kinds are deleted through this one URL.


        **What happens on deletion:**

        - The session is stamped with a deletion timestamp and immediately disappears from every read endpoint — `GET /v3/session/{sessionId}/decision/` returns `404` and `GET /v3/sessions/` stops listing it.

        - For KYC sessions, related face, liveness, and face-match records are soft-deleted together with the session.

        - A background job then moves every stored media file owned by the session to a quarantined storage prefix: document front/back photos (full, cropped, and privacy-blurred variants), document-capture videos, portrait crops, NFC chip portrait and signature images, face reference images, liveness videos, face-match source/target images, Proof of Address documents, and any extra uploaded files (KYC); uploaded company documents and extra files (KYB). Previously issued media URLs (`https://<media-host>/...`) stop resolving once the move completes — the move is asynchronous, so a URL issued just before deletion may keep working for a short window after the `204`.


        **What is retained:** the underlying database records (decision, extracted data, audit events) are kept internally, marked with the deletion timestamp — they become unreachable through the API but are not erased at the moment of the call. Blocklist entries created from this session (face or document) are **not** removed — manage those with the blocklist endpoints. Credits already consumed are not refunded.


        **Irreversible:** there is no restore/undelete endpoint.


        **Side effects:** no webhook is emitted for deletions.


        **Idempotency:** not idempotent at the HTTP level — the first call returns `204`; repeating it returns `404` because the session no longer resolves.


        **Authentication:** send your application''s API key in the `x-api-key` header; the session must belong to that application. Console user access tokens (`Authorization: Bearer ...`) may also call this endpoint when they carry the `delete:sessions` permission. Authentication and permission failures both return `403` — this API never returns `401`.


        **Rate limit:** shared write budget of 300 requests/min per API key across all POST/PATCH/DELETE endpoints; exceeding it returns `429`.


        To bulk-delete KYC sessions by their numeric `session_number`, use `POST /v3/sessions/delete/` instead.'
      operationId: delete_v3_session_by_id
      tags:
      - Sessions
      parameters:
      - in: path
        name: sessionId
        required: true
        description: UUID (`session_id`) of the User Verification (KYC) or Business Verification (KYB) session to delete, as returned when the session was created. Must be a canonical hyphenated UUID — a non-UUID value does not match the route and returns `404`.
        schema:
          type: string
          format: uuid
          example: 11111111-2222-3333-4444-555555555555
      responses:
        '204':
          description: Session soft-deleted. Empty body. The media quarantine continues asynchronously after the response.
        '403':
          description: 'Authentication or permission failure. Missing/invalid credentials also return `403` — this API never returns `401`. Exception: when the `sessionId` does not resolve to a live session, the pre-auth owner lookup returns `404` first, even with missing or invalid credentials.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                Missing or invalid API key:
                  summary: No x-api-key header, or the key is invalid
                  value:
                    detail: Authentication credentials were not provided or are invalid.
                Insufficient permission:
                  summary: User token without delete:sessions, or credentials for an application that does not own the session
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: No live KYC or KYB session with this `session_id` exists — the id is unknown or the session was already soft-deleted (repeating a successful delete lands here).
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                Not Found:
                  summary: Unknown or already-deleted session
                  value:
                    detail: Not found.
        '429':
          description: Shared write rate limit exceeded (300 POST/PATCH/DELETE requests per minute per API key). Inspect `Retry-After` and the `X-RateLimit-*` response headers before retrying.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                Rate limited:
                  summary: Write budget exhausted
                  value:
                    detail: Write request rate limit exceeded. You can make up to 300 requests per minute.
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: curl
        label: curl
        source: "curl -X DELETE \\\n  https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/delete/ \\\n  -H 'x-api-key: YOUR_API_KEY'"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.delete(\n    \"https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/delete/\",\n    headers={\"x-api-key\": \"YOUR_API_KEY\"},\n)\nresponse.raise_for_status()  # 204 on success; 404 if unknown or already deleted"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/delete/',\n  {\n    method: 'DELETE',\n    headers: { 'x-api-key': 'YOUR_API_KEY' },\n  },\n);\nif (response.status !== 204) throw new Error(`HTTP ${response.status}`);"
  /v3/session/{sessionId}/generate-pdf/:
    get:
      summary: Download a PDF report for a verification session
      description: 'Render and download a compliance-ready PDF report for a finished verification session. The same path serves both User Verification (KYC) and Business Verification (KYB) sessions — the server looks the `sessionId` up in both tables and picks the matching report template.


        **Eligible statuses.** The session must already carry a final or reviewable status:


        - KYC sessions: `Approved`, `Declined`, `In Review`, or `Kyc Expired`.

        - KYB sessions: `Approved`, `Declined`, or `In Review`.


        Any other status (`Not Started`, `In Progress`, `Expired`, `Abandoned`, …) returns `403` with an explanatory `detail` string — see the `403` response below.


        **What the report contains.** The PDF mirrors the console session view at the moment of the request:


        - **KYC** — rolled-up session status, the warnings list, and one section per executed feature: ID Verification (document images plus extracted fields), NFC, Liveness, Face Match, Email Verification, Phone Verification, Proof of Address, Questionnaire answers, Database Validation, AML Screening, and IP Analysis — followed by session tags, console review activity (comments and status changes), and the session event timeline.

        - **KYB** — registry checks (company data), AML screenings, business document verifications, key-people checks, questionnaire responses, phone/email verifications, IP analyses, and the session event timeline, followed by tags and review activity.


        **Branding.** If your application has white-label customization, the report is rendered with your logo and links to your privacy-policy URL; otherwise it carries Didit branding. Reports are rendered in English — there is no language parameter.


        **No caching.** Every call re-renders the PDF from the current session data, so a report generated after a manual review reflects the reviewer’s decision. Two calls for the same session can produce byte-different files — archive the downloaded file if you need an immutable copy.


        **Latency.** Rendering downloads every stored image (document sides, selfies, extra files) before composing the PDF, so media-heavy sessions can take several seconds. Use a generous client read timeout (60 s recommended) and stream the body to disk.


        **Trailing slash.** The canonical route ends with a trailing slash (`…/generate-pdf/`). Requests without it receive a `301` redirect to the slashed URL — most HTTP clients follow it automatically for `GET`, but plain `curl` needs `-L` (or call the slashed URL directly, as in the samples).


        If you need the underlying data as JSON instead of a rendered report, use `GET /v3/session/{sessionId}/decision/`.'
      operationId: get_v3_session_generate_pdf
      tags:
      - Sessions
      parameters:
      - name: sessionId
        in: path
        required: true
        description: 'UUID of the User Verification (KYC) or Business Verification (KYB) session to render — the `session_id` returned by `POST /v3/session/`. The same path works for both session kinds; use the `Content-Disposition` filename on the response to tell which report type you received.


          **Must be a well-formed, lowercase UUID.** The route only matches valid UUIDs, so a malformed value is rejected by the URL router before any application code runs and the response is a `404` **HTML** page rather than the JSON `{"detail": ...}` envelope shown below. The route''s UUID converter only matches the canonical lowercase form — uppercase-hex UUIDs are rejected with the HTML 404.'
        schema:
          type: string
          format: uuid
          example: 11111111-2222-3333-4444-555555555555
      responses:
        '200':
          description: The rendered PDF document, returned directly as binary `application/pdf` — there is no JSON wrapper and no download-URL indirection. The body starts with the `%PDF` magic bytes (PDF 1.7). Save it to a `.pdf` file or stream it through to your caller.
          headers:
            Content-Disposition:
              description: '`attachment; filename=session_{sessionId}.pdf` for KYC sessions, `attachment; filename=business_{sessionId}.pdf` for KYB sessions — the prefix tells you which report template was rendered.'
              schema:
                type: string
                example: attachment; filename=session_11111111-2222-3333-4444-555555555555.pdf
            Content-Length:
              description: Total size of the PDF in bytes; the body is not chunked.
              schema:
                type: integer
                example: 25191
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '403':
          description: 'Authentication, authorization, or session-status failure. **This endpoint never returns `401`** — Didit''s API-key authentication does not emit a `WWW-Authenticate` challenge, so missing or invalid credentials also surface as `403`. Distinguish the failure modes by the `detail` string:


            - `"Authentication credentials were not provided or are invalid."` — no `x-api-key` header (and no `Authorization: Bearer` token), or the supplied credential failed introspection (revoked, expired, or malformed).

            - `"You do not have permission to perform this action."` — the credential is valid but cannot read this session: a console-user Bearer token lacks the `read:sessions` permission or cannot access the owning application, or an API key belongs to a different organization than the session.

            - `"You can only generate a PDF for sessions in review, declined, approved or kyc expired"` — the KYC session exists but is not in an eligible status yet (for example `Not Started` or `In Progress`). Wait for the `status.updated` webhook before requesting the report.

            - `"You can only generate a PDF for sessions in review, declined or approved"` — same condition for KYB sessions.


            Note that for a completely unknown `sessionId` the endpoint resolves the owning application before validating credentials, so a missing session returns `404` even when the credential is missing or invalid.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: You can only generate a PDF for sessions in review, declined, approved or kyc expired
              examples:
                Missing or invalid credentials:
                  summary: No x-api-key header, or the key failed introspection
                  value:
                    detail: Authentication credentials were not provided or are invalid.
                Insufficient permissions:
                  summary: Valid credential lacking read:sessions or access to the owning application
                  value:
                    detail: You do not have permission to perform this action.
                KYC session not finished:
                  summary: KYC session still Not Started / In Progress
                  value:
                    detail: You can only generate a PDF for sessions in review, declined, approved or kyc expired
                KYB session not finished:
                  summary: KYB session still Not Started / In Progress
                  value:
                    detail: You can only generate a PDF for sessions in review, declined or approved
        '404':
          description: No active session with this `sessionId` exists — it was never created, or it has been deleted. Owner resolution happens before credential validation, so this `404` is returned even for unauthenticated requests. Depending on which lookup misses, the `detail` string is `"Not found."` (the common case) or `"Session not found."`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    example: Not found.
              examples:
                Unknown session:
                  summary: sessionId does not match any KYC or KYB session
                  value:
                    detail: Not found.
                Recently deleted session:
                  summary: Session was deleted between lookups
                  value:
                    detail: Session not found.
        '429':
          description: Rate limit exceeded. PDF generation has a dedicated limit of **50 requests per minute per credential** (API key, Bearer token, or source IP when unauthenticated), in addition to the global 600/min GET limit. Wait `Retry-After` seconds (also reflected in the `X-RateLimit-*` headers), then retry. Reports are not cached server-side, so download each report once and store the file instead of re-fetching it.
          headers:
            Retry-After:
              description: Seconds to wait before retrying the request.
              schema:
                type: integer
                minimum: 1
                example: 30
            X-RateLimit-Limit:
              description: Maximum number of PDF generations allowed in the current window (50).
              schema:
                type: integer
                example: 50
            X-RateLimit-Remaining:
              description: Requests remaining in the current window.
              schema:
                type: integer
                example: 0
            X-RateLimit-Reset:
              description: Unix timestamp (seconds) at which the current window resets.
              schema:
                type: integer
                example: 1750000000
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Human-readable explanation of the rate-limit breach.
                    example: Session PDF generation rate limit exceeded. You can make up to 50 requests per minute.
              examples:
                Throttled:
                  summary: More than 50 PDF generations in one minute from the same credential
                  value:
                    detail: Session PDF generation rate limit exceeded. You can make up to 50 requests per minute.
      security:
      - ApiKeyAuth: []
      x-codeSamples:
      - lang: curl
        label: cURL
        source: "curl --fail \\\n  https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/generate-pdf/ \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  --output report.pdf"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.get(\n    \"https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/generate-pdf/\",\n    headers={\"x-api-key\": \"YOUR_API_KEY\"},\n    stream=True,\n    timeout=60,\n)\nresponse.raise_for_status()\nwith open(\"report.pdf\", \"wb\") as fh:\n    for chunk in response.iter_content(chunk_size=8192):\n        fh.write(chunk)"
      - lang: javascript
        label: JavaScript
        source: "import { writeFile } from 'node:fs/promises';\n\nconst response = await fetch(\n  'https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/generate-pdf/',\n  { headers: { 'x-api-key': 'YOUR_API_KEY' } },\n);\nif (!response.ok) throw new Error(`PDF generation failed: HTTP ${response.status}`);\nawait writeFile('report.pdf', Buffer.from(await response.arrayBuffer()));"
  /v3/session/{sessionId}/sandbox/arm/:
    post:
      summary: Arm a sandbox scenario on a session
      description: 'Persist a sandbox scenario on a `Not Started` session and expand its bundled magic values (email, phone, or `expected_details` fields) onto the session, so the mocked providers reproduce the scenario''s outcome once the flow runs. This is the endpoint the pre-flow scenario picker in Didit''s hosted verification UI calls when a tester chooses an outcome before starting capture. Build your own picker against it, or call it directly from a sandbox test harness.


        Authenticate with the session''s own `Session-Token` (returned in `session_token` by [Create Session](/sessions-api/create-session)), not your application `x-api-key`: this endpoint is meant to be called from the client, not your backend. A scenario is only accepted while `status` is `Not Started`. Calling it again while still `Not Started` re-arms the session: it swaps in the new scenario''s magic values and clears only the values the *previous* scenario wrote, so any value the user already typed by hand (email, first name, etc.) survives the re-arm. Arming a session that has moved past `Not Started`, or that belongs to a live (non-sandbox) application, is rejected.


        See [Sandbox & Test Data](/integration/sandbox-testing) for the full scenario catalog and the other two ways to drive an outcome: `sandbox_scenario` at session create, and typing magic values directly.'
      operationId: post_v3_session_sandbox_arm
      tags:
      - Sessions
      security:
      - SessionTokenAuth: []
      parameters:
      - in: path
        name: sessionId
        required: true
        description: UUID of the sandbox verification session to arm. Must match the session encoded in the Session-Token used to authenticate.
        schema:
          type: string
          format: uuid
          example: 11111111-2222-3333-4444-555555555555
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - scenario
              properties:
                scenario:
                  type: string
                  description: Slug of the scenario to arm. See the catalog at GET /v1/sandbox/scenarios/ or the scenario table in [Sandbox & Test Data](/integration/sandbox-testing).
                  example: decline_document_expired
            examples:
              Arm:
                summary: Arm the AML PEP-hit scenario
                value:
                  scenario: decline_aml_hit
      responses:
        '200':
          description: 'Scenario armed. Its magic values are now on the session. `status` reflects the session''s current status, which this call never changes: it is always `Not Started` on success.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                    format: uuid
                  scenario:
                    type: string
                    description: The armed scenario slug (echoes the request).
                  status:
                    type: string
                    example: Not Started
              examples:
                Armed:
                  summary: Scenario armed on a Not Started session
                  value:
                    session_id: 11111111-2222-3333-4444-555555555555
                    scenario: decline_aml_hit
                    status: Not Started
        '400':
          description: 'Validation error: an unknown scenario slug, or the session has already progressed past `Not Started`.'
          content:
            application/json:
              examples:
                Unknown Scenario:
                  summary: scenario is not in the catalog
                  value:
                    scenario:
                    - 'Unknown sandbox scenario: ''not-a-real-scenario''.'
                Already Started:
                  summary: Session moved past Not Started
                  value:
                  - Scenario can only be armed before the verification starts.
        '404':
          description: The Session-Token does not resolve to this `session_id`, or the session belongs to a live (non-sandbox) application.
          content:
            application/json:
              examples:
                Not Found:
                  summary: Live session, or session_id / token mismatch
                  value:
                    detail: Not found.
      x-codeSamples:
      - lang: curl
        label: curl
        source: "curl -X POST \\\n  https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/sandbox/arm/ \\\n  -H 'Session-Token: YOUR_SESSION_TOKEN' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"scenario\": \"decline_aml_hit\"\n  }'"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.post(\n    \"https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/sandbox/arm/\",\n    headers={\n        \"Session-Token\": \"YOUR_SESSION_TOKEN\",\n        \"Content-Type\": \"application/json\",\n    },\n    json={\"scenario\": \"decline_aml_hit\"},\n)\nresponse.raise_for_status()\nprint(response.json())  # {'session_id': '...', 'scenario': 'decline_aml_hit', 'status': 'Not Started'}"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/sandbox/arm/',\n  {\n    method: 'POST',\n    headers: {\n      'Session-Token': sessionToken,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({ scenario: 'decline_aml_hit' }),\n  },\n);\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst { session_id, scenario, status } = await response.json();"
  /v3/session/{sessionId}/update-status/:
    patch:
      summary: Approve, decline, or request resubmission for a verification session
      description: 'Manually override the final decision of a KYC or KYB verification session. Set `new_status` to `Approved` or `Declined` to record a manual decision, or to `Resubmitted` to clear specific verification steps and let the user redo them through the same verification URL. The endpoint accepts both user (KYC) and business (KYB) session IDs.


        Call it once a session has reached a reviewable state: the current status must be `Approved`, `Declined`, `In Review`, `Kyc Expired`, `Abandoned`, or `Resubmitted`. Sessions that are still `Not Started`, `In Progress`, or `Awaiting User`, or that ended as `Expired`, return `400`. The new status must differ from the current one, and your API key''s organization needs the `write:sessions` permission. The eligible-state check runs before body validation, so an ineligible session returns the `Wrong Current Status` error even when the payload is also invalid.


        For `Resubmitted`, pass `nodes_to_resubmit` to choose which workflow steps the user must redo, or omit it to auto-select existing feature attempts in a resubmittable state (`Declined`, `In Review`, `Not Finished`, `Expired`). Never-attempted features are not auto-selected — list them explicitly in `nodes_to_resubmit`, or the request returns `400` when no recorded attempt needs resubmission. Captured data for the selected steps is deleted, the steps are reordered to match the workflow graph, the session''s expiration window restarts, and the original verification URL becomes usable again. Backend-only steps (`AML`, `DATABASE_VALIDATION`, `IP_ANALYSIS`) at the head of the list run immediately without user interaction; if every resubmitted step is backend-only, the session re-finalizes within the same request. `KYB_REGISTRY` and `KYB_KEY_PEOPLE` cannot be resubmitted directly — resubmit the relevant child KYC sessions instead and the parent business session recomputes automatically.


        Every successful call fires the `status.updated` [webhook](/integration/webhooks) once the change commits and appends an activity entry — with actor attribution and your `comment` — to the session''s `reviews`, visible in [Get Decision](#get-/v3/session/-sessionId-/decision/) and in the console activity timeline. The user-profile aggregates linked to the session''s `vendor_data` update as well. Declining disables ongoing AML monitoring for the session; re-approving re-enables it (from `Resubmitted`, `Declined`, or `Kyc Expired`) when the workflow has monitoring turned on. Approving or declining a child KYC that belongs to a KYB key-people check recomputes the parent business session''s status. Set `send_email: true` (with `email_address`) to notify the user: a status notice for `Approved`/`Declined`, or a resubmission email containing the verification link and per-step reasons for `Resubmitted`.


        The operation is intentionally not repeatable with the same value: re-sending the current status returns `400` (`The new status is the same as the current status.`), so accidental double-submissions are harmless. Authentication and permission failures both return `403` — this API never responds `401`.'
      operationId: patch_v3_session_update_status
      tags:
      - Sessions
      security:
      - ApiKeyAuth: []
      parameters:
      - in: path
        name: sessionId
        required: true
        description: UUID of the verification session to update. Accepts both user (KYC) and business (KYB) session IDs — the service resolves the ID across both session types.
        schema:
          type: string
          format: uuid
          example: 11111111-2222-3333-4444-555555555555
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - new_status
              properties:
                new_status:
                  type: string
                  description: Target status. `Approved` and `Declined` record a final manual decision (each can also overturn the other). `Resubmitted` clears the selected steps and sends the session back to the user. Any other value returns `400`.
                  enum:
                  - Approved
                  - Declined
                  - Resubmitted
                  example: Approved
                comment:
                  type: string
                  description: Free-text reason for the change, stored on the session's review trail and returned in the `reviews` array of [Get Decision](#get-/v3/session/-sessionId-/decision/). For example `Duplicated user`.
                  example: All checks passed manual review
                nodes_to_resubmit:
                  type: array
                  description: Workflow steps the user must redo. Only acted on when `new_status` is `Resubmitted`. For `Approved`/`Declined` the entries are still schema-validated (an invalid `feature` value returns `400`) but schema-valid entries are semantically ignored. If omitted, the server auto-selects existing OCR, Liveness, Face Match, POA, Phone, Email, AML, Database Validation, and Questionnaire attempts whose status is `Declined`, `In Review`, `Not Finished`, or `Expired` (NFC, IP analysis, age estimation, face search, and KYB document attempts are never auto-selected; non-face-match face attempts are selected as `LIVENESS`) — features the user never attempted (no recorded attempt) are NOT selected, so a session with zero attempts returns `400` ("No features found that need resubmission") even though nothing was approved; pass `nodes_to_resubmit` explicitly in that case. Steps are executed in workflow-graph order regardless of the order you send them. `KYB_REGISTRY`, `KYB_KEY_PEOPLE`, and the `KYB` alias are rejected with `400` — those parent checks recompute from their child KYC sessions.
                  items:
                    type: object
                    required:
                    - node_id
                    - feature
                    properties:
                      node_id:
                        type: string
                        description: Node identifier as it appears in the session's workflow definition (for example `feature_ocr`, `feature_liveness`).
                        example: feature_ocr
                      feature:
                        type: string
                        description: Feature type of the node. The aliases `ID_VERIFICATION`, `POA`, `PHONE`, and `EMAIL` are normalized server-side to `OCR`, `PROOF_OF_ADDRESS`, `PHONE_VERIFICATION`, and `EMAIL_VERIFICATION`. `KYB_REGISTRY`, `KYB_KEY_PEOPLE`, and `KYB` pass schema validation but are always rejected with the business-rule `400` shown in the examples.
                        enum:
                        - OCR
                        - OCR_BACK
                        - NFC
                        - AML
                        - FACE
                        - LIVENESS
                        - FACE_MATCH
                        - IP_ANALYSIS
                        - AGE_ESTIMATION
                        - PROOF_OF_ADDRESS
                        - PHONE_VERIFICATION
                        - EMAIL_VERIFICATION
                        - FACE_SEARCH
                        - DATABASE_VALIDATION
                        - QUESTIONNAIRE
                        - DOCUMENT_AI
                        - KYB_DOCUMENTS
                        - ID_VERIFICATION
                        - POA
                        - PHONE
                        - EMAIL
                        - KYB_REGISTRY
                        - KYB_KEY_PEOPLE
                        - KYB
                        example: OCR
                send_email:
                  type: boolean
                  description: Whether to email the user about the change. Requires `email_address`. For `Approved`/`Declined` the user receives a status notice; for `Resubmitted` the email includes the verification link and the per-step resubmission reasons.
                  default: false
                  example: false
                email_address:
                  type: string
                  format: email
                  description: Recipient for the notification email. **Required when `send_email` is `true`** — omitting it returns `400`.
                  example: user@example.com
                email_language:
                  type: string
                  description: Language for the notification email. Accepts any string at schema level; unsupported codes silently fall back to English (`en`).
                  default: en
                  example: en
            examples:
              Approve Session:
                summary: Approve a session after manual review
                value:
                  new_status: Approved
                  comment: All checks passed manual review
              Decline Session:
                summary: Decline a session
                value:
                  new_status: Declined
                  comment: Suspected fraud
              Resubmit Specific Steps:
                summary: Request resubmission of chosen steps, with email
                value:
                  new_status: Resubmitted
                  nodes_to_resubmit:
                  - node_id: feature_ocr
                    feature: OCR
                  - node_id: feature_liveness
                    feature: LIVENESS
                  send_email: true
                  email_address: user@example.com
                  email_language: en
              Resubmit Auto-select:
                summary: Request resubmission (auto-select non-approved steps)
                value:
                  new_status: Resubmitted
      responses:
        '200':
          description: Status updated. The response contains only the `session_id` — fetch the updated session via [Get Decision](#get-/v3/session/-sessionId-/decision/). The `status.updated` webhook fires once the change commits.
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    type: string
                    format: uuid
                    description: UUID of the updated session.
              examples:
                Updated:
                  summary: Returned for Approved, Declined, and Resubmitted alike
                  value:
                    session_id: 3472fb7c-8f7c-4d1a-9cf4-cf3d74ce1a60
        '400':
          description: 'Validation error. Field errors arrive as `{"<field>": ["<message>"]}` (some business-rule rejections use a string value instead: `{"nodes_to_resubmit": "<message>"}`), cross-state errors as `{"detail": "<message>"}`, and the same-status error as a bare JSON array.'
          content:
            application/json:
              examples:
                Wrong Current Status:
                  summary: Session is not in an updatable state
                  value:
                    detail: 'Only sessions with status Approved, Declined, In Review, Kyc Expired, Abandoned, Resubmitted can be updated. Current status: In Progress'
                Invalid Status Value:
                  summary: new_status is a real session status but not one of Approved/Declined/Resubmitted
                  value:
                    new_status:
                    - You can only update the status to 'Approved', 'Declined', or 'Resubmitted'.
                Missing new_status:
                  summary: Required field omitted
                  value:
                    new_status:
                    - This field is required.
                Same Status:
                  summary: New status equals the current status
                  value:
                  - The new status is the same as the current status.
                Email Address Required:
                  summary: send_email true without email_address
                  value:
                    email_address:
                    - Email address is required when send_email is true.
                Non-resubmittable Feature:
                  summary: Resubmit targets a KYB parent check
                  value:
                    nodes_to_resubmit: 'The following features cannot be resubmitted directly: KYB_REGISTRY. Resubmit the relevant child KYC sessions instead; the parent will recompute automatically.'
                Nothing To Resubmit:
                  summary: Auto-select found no non-approved features
                  value:
                    nodes_to_resubmit: No features found that need resubmission. All features are already approved.
                Invalid Feature Choice:
                  summary: Unknown feature in nodes_to_resubmit
                  value:
                    nodes_to_resubmit:
                    - feature:
                      - '"BOGUS" is not a valid choice. Valid choices are: OCR, OCR_BACK, NFC, AML, FACE, LIVENESS, FACE_MATCH, IP_ANALYSIS, AGE_ESTIMATION, PROOF_OF_ADDRESS, PHONE_VERIFICATION, EMAIL_VERIFICATION, FACE_SEARCH, DATABASE_VALIDATION, QUESTIONNAIRE, KYB_REGISTRY, KYB_DOCUMENTS, KYB_KEY_PEOPLE, ID_VERIFICATION, POA, PHONE, EMAIL, KYB'
                Invalid Status Value (not a status at all):
                  summary: new_status is not a valid StatusChoices value
                  value:
                    new_status:
                    - '"Bogus" is not a valid choice.'
        '403':
          description: Missing/invalid credentials or insufficient permissions. This API returns `403` for authentication failures — never `401`.
          content:
            application/json:
              examples:
                Invalid Credentials:
                  summary: Missing or invalid x-api-key
                  value:
                    detail: Authentication credentials were not provided or are invalid.
                Missing Privilege:
                  summary: API key lacks write:sessions
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: No KYC or KYB session with this `session_id` exists in your application (soft-deleted sessions also return `404`).
          content:
            application/json:
              examples:
                Not Found:
                  summary: Unknown session_id
                  value:
                    detail: Not found.
      x-codeSamples:
      - lang: curl
        label: curl
        source: "curl -X PATCH \\\n  https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/update-status/ \\\n  -H 'x-api-key: YOUR_API_KEY' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"new_status\": \"Approved\",\n    \"comment\": \"All checks passed manual review\"\n  }'"
      - lang: python
        label: Python
        source: "import requests\n\nresponse = requests.patch(\n    \"https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/update-status/\",\n    headers={\n        \"x-api-key\": \"YOUR_API_KEY\",\n        \"Content-Type\": \"application/json\",\n    },\n    json={\n        \"new_status\": \"Resubmitted\",\n        \"nodes_to_resubmit\": [\n            {\"node_id\": \"feature_ocr\", \"feature\": \"OCR\"},\n            {\"node_id\": \"feature_liveness\", \"feature\": \"LIVENESS\"},\n        ],\n        \"send_email\": True,\n        \"email_address\": \"user@example.com\",\n        \"email_language\": \"en\",\n    },\n)\nresponse.raise_for_status()\nprint(response.json())  # {'session_id': '11111111-2222-3333-4444-555555555555'}"
      - lang: javascript
        label: JavaScript
        source: "const response = await fetch(\n  'https://verification.didit.me/v3/session/11111111-2222-3333-4444-555555555555/update-status/',\n  {\n    method: 'PATCH',\n    headers: {\n      'x-api-key': process.env.DIDIT_API_KEY,\n      'Content-Type': 'application/json',\n    },\n    body: JSON.stringify({\n      new_status: 'Declined',\n      comment: 'Suspected fraud',\n    }),\n  },\n);\nif (!response.ok) throw new Error(`HTTP ${response.status}`);\nconst { session_id } = await response.json();"
  /v3/sessions/:
    get:
      summary: List verification sessions (KYC and/or KYB) with filters and pagination
      description: 'Returns a paginated list of verification sessions for the application identified by your API key, newest first (descending `session_number`).


        **Canonical URL:** the route is `/v3/sessions/` (trailing slash). Requests to `/v3/sessions` without the slash receive a `301` redirect to the slashed URL with the query string preserved; most HTTP clients follow it transparently on GET.


        **When to use this endpoint vs webhooks.** Use this endpoint for dashboards, back-office search, reconciliation, and batch exports. Do not poll it to track the progress of individual verifications - configure [webhooks](/integration/webhooks) instead, which push `status.updated` events the moment a session changes. For one session''s full result, call `GET /v3/session/{sessionId}/decision/`.


        **KYC and KYB rows.** `session_kind` selects which tables are listed:

        - `user` (default) - User Verification (KYC) sessions only. Backward-compatible behavior.

        - `business` - Business Verification (KYB) sessions only. Rows have a different, smaller shape (see the response schema).

        - `all` - both kinds in one response: the KYC page and the KYB page for the same `limit`/`offset` are concatenated in `results` (KYC rows first), so a page can contain up to `2 x limit` rows. `count` is the sum of both kinds and `next`/`previous` reflect the KYC-side pagination. For strict pagination of mixed data, call `user` and `business` separately.


        Every row carries a `session_kind` discriminator (`"user"` or `"business"`).


        **Pagination.** Standard limit/offset: `limit` (default 50) and `offset` (default 0), with `next`/`previous` ready-made page URLs. For KYC rows `count` is exact. For KYB rows `count` is computed with a bounded scan and is capped at 100 - when there are more than 100 matches it stays at 100, so iterate using `next` (or by checking whether a full page came back) rather than computing total pages from `count`.


[...]
